:root {
    --Fondos: #56737d;
    
}

body{
    font-family: 'Montserrat', sans-serif;
}

nav{
    font-family: 'Montserrat', sans-serif;
}

.container-fluid{
    /*Se añade important para que no choque con bootstrap*/
    justify-content: unset !important;
}
.navbarNav{
    /*Se añade important para que no choque con bootstrap*/
    justify-content:flex-start;
    width: 100%;
}
.botones{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}
.botoncin {
    margin-left: .5rem;
}

.Portada{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: row;
    background-color: var(--Fondos);
    height: 32rem;
    width:100%;
}
.Portada h1 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1.8rem;

}
.queHacemos{
    height: 100%;
    width: 100%;

}
.TituloQue {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

}
/*ESTILO DE NOSOTROS*/
.titulo{
    text-align: center;
    font-family: 'Montserrat', sans-serif;

}
.nosotros{
    position: absolute;
    width:646px;
    height: 218px;
    left: 176px;
    top: 160px;
    font-family:'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 18px;
    line-height: 30px;
}

.tiempo{
position: absolute;
width:714px;
height: 218px;
left: 360px;
top: 345px;
font-family: 'Montserrat',sans-serif;
font-weight: 200;
}
.colaborador{
    display: grid;
    grid-template-columns:repeat(3,2fr);
    column-gap: 2rem;
    
}
.colaboradores{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.colaborador .fotosp{
    position: absolute;
    top: 400;
}

