:root {
    --Fondo: #eaebed;
    --FondoSecciones: #ffc9a5;
    --negro: #000000;  
    --Complemento: #364c96;

}
*{
    font-family: 'Montserrat',sans-serif;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--Fondo);
}

nav{
    font-family: 'Montserrat', sans-serif;
    
}
.navbarNav a{
    color: var(--Fondo);
}
.container-fluid{
    /*Se añade important para que no choque con bootstrap*/
    justify-content: unset !important;
    color: var(--Fondo) !important;
}
.navbarNav{
    /*Se añade important para que no choque con bootstrap*/
    justify-content:flex-start;
    width: 100%;
    color: var(--Fondo);
}
.botones{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}
.botoncin {
    margin-left: .5rem;
}

/*Seccion de las redes sociales*/
.redes{
    padding: 3rem;
    margin: 4rem;
    height: auto;
    width: auto;
    background-color: var(--FondoSecciones);
}
.textoRedes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
li{
    list-style: none;

}
ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    

}
/*Seccion del mensaje del formulario*/
.mensajeformu{
    padding: 3rem;
    margin: 4rem;
    height: auto;
    width: auto;
    background-color: var(--FondoSecciones);
}
p{
    padding: 5rem;
}

/*seccion de frase*/
.frase{
    padding: 5rem;
    margin: 4rem;
    height: auto;
    width: auto;
    background-color: var(--FondoSecciones);
}

