body{
    font-family: 'Montserrat', sans-serif;
}

nav{
    font-family: 'Montserrat', sans-serif;
}

.container-fluid{
    /*Se añade important para que no choque con bootstrap*/
    justify-content: unset !important;
}
.navbarNav{
    /*Se añade important para que no choque con bootstrap*/
    justify-content:flex-start;
    width: 100%;
}
.botones{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 1rem;
}

