:root {
    --Fondo:  #c4d2e7;
    --FondoSecciones: #f4f9fe;
    --negro: #000000;  
    --Complemento: #7495b8;
    --salmon: #7495b8;
    --dark-letters: #4b4c4d;
    --grey-icon: #aaa;

}
* {
    position: relative !important;
}
html, body{
    background: var(--Fondo);
    font-family: 'Montserrat', sans-serif;
}
main{
    position: relative !important;
    z-index: 1;
    height: 100%;
    background: rgb(116,149,184);
    background-image: linear-gradient(0deg, rgba(103,130,158,1) 0%, rgba(116,149,184,0.9654236694677871) 33%, rgba(196,210,231,1) 70%, rgba(196,210,231,1) 100%);
    -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    -moz-box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;  
    padding-bottom: 2rem;
}

/* ------ Organizacion de las secciones ------ */
.General{
    border-radius: 7px;
    z-index: 2;
    height: 100%;
    background: var(--Fondo);
    -webkit-box-shadow: 10px 4px 33px 7px rgba(0,0,0,0.39);
    -moz-box-shadow: 10px 4px 33px 7px rgba(0,0,0,0.39);
    box-shadow: 10px 4px 33px 7px rgba(0,0,0,0.39);
    padding: 3rem;
}
section{
    /*box-shadow:var(--Complemento) 1.95px 1.95px 2.6px;*/
    margin: 3.8rem;
}

header{
    font-family: 'Montserrat', sans-serif;
    
}

.logo a{
    align-items: center !important;
    justify-content: center !important;
    font-size: 1.3rem !important;
    font-weight: 600;
}
.navbar-brand h5{
    font-size: 1.2rem;
    color: var(--Fondo);
}
nav{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--salmon) !important;
}

.navbar-brand, .navbarNav a{
    color: var(--Fondo) !important;
    font-size: 1rem !important;
}
.container-fluid{
    /*Se añade important para que no choque con bootstrap*/
    justify-content: unset !important;
    color: var(--Fondo) !important;
}
.navbarNav{
    /*Se añade important para que no choque con bootstrap*/
    justify-content:flex-start;
    width: 100%;
    color: var(--Fondo);
}
.botones{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}
.botoncin {
    margin-left: .5rem;
}


/*---------------ESTILO DE NOSOTROS------------*/
.quienesColaboran{
    padding: 2rem;
    margin: 2rem;
    height: auto;
    width: auto;
    background-color: var(--FondoSecciones);
    border-radius: .5rem;
}
.titulo{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: var(--negro)
}
.nosotros{
    width:100%;
    font-family:'Montserrat', sans-serif;
    font-weight: 200;
    line-height: 30px;
}
.nosotros h1{
    font-size:5rem;
}
.nosotros p{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
}
.imanosotros{
    border-radius: 25px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.4) 5px 5px, 
    rgba(0, 0, 0, 0.3) 10px 10px, 
    rgba(0, 0, 0, 0.2) 15px 15px, 
    rgba(0, 0, 0, 0.1) 20px 20px, 
    rgba(0, 0, 0, 0.05) 25px 25px;
}

.Linea{
    margin: 6rem;
}
.Linea h3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 4rem 0 2rem 0;;
    font-size: 3rem;
}
.filasQuienes{
    margin-top: 2rem !important;
}

.fotosp{
    width: 100px;
    height: 130px;
    border-radius: 46%;
    -webkit-box-shadow: 10px 4px 33px 7px rgba(0,0,0,0.39);
    -moz-box-shadow: 10px 4px 33px 7px rgba(0,0,0,0.39);
    box-shadow: 10px 4px 33px 7px rgba(0,0,0,0.39);
    margin: 1rem 0 1rem 0;
    
}
.colaborador h3{
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5rem;
}
.colaborador p{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
}

.colaborador{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/********* Estilo de mision *********/
.misiones{
    background-color: var(--FondoSecciones);
    border-radius: .5rem;
    height: auto;
    width: auto;
    margin:2rem;
    padding: 3.5rem;
}

.mision{
    width:100%;
    font-family:'Montserrat', sans-serif;
    font-weight: 200;
    line-height: 30px;
}
.mision p{
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 3rem;
    
}
.imamision{
    border-radius: 90px;
    width: 70%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    
}
/*--------- Fin de estilo ---------*/

/*inicio de vision*/
.visiones{
    background-color: var(--FondoSecciones);
    border-radius: .5rem;
    height: auto;
    width: auto;
    margin:2rem;
    padding: 3.5rem;
}
.vision{
    width:100%;
    font-family:'Montserrat', sans-serif;
    font-weight: 200;
    line-height: 30px;
}
.vision p{
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 3rem;
}
.imavision{
    border-radius: 90px;
    width: 70%;
    display: block;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
/*---- fin de vision ----*/

/*inicio de valores*/
.valores{
    background-color: var(--FondoSecciones);
    border-radius: .5rem;
    height: auto;
    width: auto;
    margin-inline:2rem;
    padding: 3.5rem;
}
.subtivalor h2{
    text-align: right;

}
.valor{
    width: 100%;
    font-family:'Montserrat', sans-serif;
    font-weight: 200;
    line-height: 30px;
}
.imagenValor{
    display: flex;
    align-items: center;
    justify-content: center;
}
.valor p{
    
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 3rem;
}
.imavalor{
    border-radius: 90px;
    width: 70%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    
}

/*--- fin de valores ---*/

/*--- Linea del tiempo ---*/
.linea-tiempo {
    position: relative;
    width: 500px;
    max-width: 95vw;
    height: 100%;
    font-family: Arial;
    list-style: none;
    text-align: end;
}
.linea-tiempo h4{
    margin-top: 2rem;
}
.momento {
    position: relative;
    width: 45%;
    box-sizing: border-box;
}
.linea-tiempo::before {
    content: '';
    position: absolute;
    width: 3px;
    background-color: var(--dark-letters);
    left: 53.3%;
    height: 100%;
    border-radius: 10px;
}
.momento::after {
    content: '';
    position: absolute;
    top: calc(50% + 10px);
    right: calc(-11.11% - 11.5px);
    height: 20px;
    width: 20px;
    background-color: var(--salmon);
    border-radius: 50%;
}


/*-------------------- FIN DE ESTILO NOSOTROS ------------------*/

/*Footer*/

footer {
    position: fixed !important;
    left: 0;
    bottom: 0;
    height: 15rem;
    width: 100%;
    text-align: center;
    
}
.footerBasic {
    padding: 9rem;
    background-color: var(--salmon);
    color: var(--dark-letters);
    display: flex;
    align-items: center;
    justify-content: center;
}


.footerBasic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footerBasic li {
    padding: 0 10px;
}

.footerBasic ul a {
    color :inherit;
    text-decoration:none;
    opacity: 0.8;
}

.footerBasic ul a:hover {
    opacity: 4;
}

.footerBasic .social {
    text-align:center;
    padding-bottom:25px;
}

.footerBasic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
}

.footerBasic .social > a:hover {
    opacity:0.9;
}

.footerBasic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color: var(--grey-icon);
    margin-bottom:0;
}
.linea{
    border-top: 2.5px solid var(--grey-icon);
    max-width: 50rem;
    margin-bottom: 1rem;
}
.social a {
    display: flex;
    align-items: center;
    justify-content: center;
}
.social ion-icon{
    width: 1.2em !important;
    height: 1.5em !important;
    border-radius: 50%;
}
/*--------fin de valores---*/



/*-------------------- Estilo de inicio y registro ------------------*/

.log-in{
    padding: 5rem;
}
.centrado{

    display: flex;
    align-items: center !important;
    justify-content: center !important;

}
.col-log{
    padding: 5rem 3rem !important;
    background-color: var(--FondoSecciones);
    width: auto;
    max-width: 130vh;
    border-radius: 15px;
    margin-inline: 4rem !important;
}
.center{
    display: flex;
    justify-content: center;
    font-size: 2.4rem;
    margin-bottom: 1rem;
}
.col-log label{
    font-size: .98rem;
}
.col-log input{
    margin-bottom: 2rem;
}
.card{
    box-shadow:var(--Complemento) 1.95px 1.95px 5px;
}
.registro-inicio{
    margin: 0;
}

/*Seccion de las redes sociales*/
.redes{
    padding: 3rem;
}
.textoRedes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family:'Montserrat', sans-serif;  
}
.redes li{
    list-style: none;

}
.redes ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}
.iconito {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    padding: 1rem;
    }
    
    /*seccion de frase*/
.frase {
        
        margin: 3rem;
        height: auto;
        width: auto;
        font-family:'Montserrat', sans-serif;
        font-size: 2rem;
        line-height: 1.7;
}

.botonGeneral{
    margin-top: 2rem !important;
}
.botonSociales a{
    width: 3rem;
    height: auto;
    border-radius: 50%;
}
.botonSociales svg{
    margin-left: -10px;
}
.botonSociales:hover {
transform:rotate(45deg);
opacity: 0.4;
color: var(--grey-icon);
}


/*------------------------------Fin de vista contactanos--------------------------------*/

/*------ Seccion de los eventos ------*/ 

.eventotes{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto !important;
}
.eventos{
    padding: .2rem;
    margin: 1rem !important;
}

.eventitos{
    width: auto !important;
    max-width: 30% !important;
    height: 32rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 25px;
    padding: 1.4rem 2rem !important;
}
.eventitos h4{
    margin: 1.2rem;
}
.eventitos p{
    display: flex;
    word-wrap: break-word;
    margin-bottom: 2rem;
}
.eventitos img{
    
    width: 100%;
    border-radius: 25px;
}
/*------ Final de Seccion de los eventos ------*/ 


/*------ Inicio de seccion del buscador ------*/ 

.buscador-main{
    padding: 4rem 0 4rem 0;
}

.header{
    position: relative;
    text-align: center;
    
}
.inner-header{
    height: 65vh;
    width: 100%;
    margin: 0;
    padding: 0;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.waves{
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 150px;
}

.content{
    position: relative;
    height: 10vh;
    text-align: center;

}

.parallax > use{
    animation: infinite-movement 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;

}
.parallax > use:nth-child(1){
    animation-delay: -2s;
    animation-duration: 7s;
    
}
.parallax > use:nth-child(2){
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3){
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4){
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes infinite-movement{
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
} 


/*------ Final de Seccion de Buscador ------*/ 

