:root {
    --Fondos: #56737d;
    
}

body{
    font-family: 'Montserrat', sans-serif;
}

nav{
    font-family: 'Montserrat', sans-serif;
}

.container-fluid{
    /*Se añade important para que no choque con bootstrap*/
    justify-content: unset !important;
}
.navbarNav{
    /*Se añade important para que no choque con bootstrap*/
    justify-content:flex-start;
    width: 100%;
}
.botones{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}
.botoncin {
    margin-left: .5rem;
}

/*Zona de portada */
.portada{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: row;
    background-color: var(--Fondos);
    height: 32rem;
    width:100%;
}
.portada h1 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1.8rem;

}

/*Seccion de Que hacemos*/
.queHacemos{
    height: 100%;
    width: 100%;
    padding: 3rem;
    }

.tituloQue {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 2rem;

}


.iconosMuestra .card{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
    border: none;
    padding: 2rem;
    
}
.iconosMuestra img{
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
    margin: 1.6rem;
}
.card:hover{
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.btnMues{
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btnMues:after {
            content: "";
            background-color: #ffe54c;
            width: 100%;
            z-index: -1;
            position: absolute;
            height: 100%;
            top: 7px;
            left: 7px;
            transition: 0.2s;
}

.btnMues:hover:after {
        top: 0px;
        left: 0px;
}

@media (min-width: 768px) {
    .btnMues {
    padding: 13px 50px 13px;
    }
}




/*Seccion del Slider de Empresas*/
.seccionSlider h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider{
    width: 175vh;
    height:auto;
    margin:auto;
    overflow: hidden;

}

.slider .galeria{
    display: flex;
    animation: slider 40s Linear infinite;
    -webkit-animation:  slider 40s Linear infinite;
    width: calc(200px * 14);
    align-items: center;
    justify-content: center;

}

.slider .imagen{
    width: 200px;
    margin-left: 2.5rem;
}

.slider .imagen img{
    width: 100%;
    margin: 5rem;
}

/*Animacion para el Slider*/
@keyframes slider{
    0%{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100%{
        -webkit-transform: translateX(calc(-200px * 7));
        transform: translateX(calc(-200px * 7));
    }
}

.masInfo{
    height:25rem;
    background-color: var(--Fondos);

}




