:root {
    --titulos: #910398;
    --subtitulos: #913456;
    --Blanco: #ffffff;
    --grisBajo:#ffffff3a;
    --Agua:#0e77c6d6;
    

}
.container{
    padding: 0 auto;
}
html {
    font-size: 62.5%;
}

body {
    font-family: 'Monserrat', sans-serif;
    font-size: 1.5rem;
    background-image: linear-gradient(
        to top,
        var(--grisBajo) 0%,
        var(--Blanco) 100%
    );
}

h1 {
    color: var(--titulos);
    text-align: center;
    font-size: 3rem;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
}

.nav_bg {
    background-color: var(--subtitulos);
    width: 100%;
    position: relative; 
    
}


.navegacion-principal {
    display: flex;
    justify-content: center;

}

.navegacion-principal a {
    color: bisque;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    margin: 2rem;
}

.navegacion-principal a:hover {
    background-color: cornflowerblue;
    color: black;
    transition-duration: 200ms;
}

.hero {
    position: relative;
    background-image: url(../img/jujutsu.jpg);
    height: 65rem;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;

}

.contenido-hero {
    position: absolute;
    background-color: rgba(0 0 0 / 20%);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.button {
    background-color: #910398;
    color: var(--subtitulos);
    text-decoration: none;
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 3rem;
    text-align: center;
}

.saber:hover {
    width: 15%;
    height: 5%;
    transition-delay: 0.5s;
}

.contenedor {

    width: 120rem;
    margin: 0 auto;
}
.serviciosGenerales{
    height: 100%;
    padding: 2rem;
}
.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.sombra{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 0px 0px 15px 15px;
}
.servicios h3{
    color: var(--Agua);
    font-weight: bold;
}
.servicios .icono{
    background-color:var(--Agua);
    border-radius: 50%;
}
