@import url(https://fonts.googleapis.com/css?family=Sansita+One|Tenor+Sans);
/*
Esta demo no contiene
@medias queries 
*/
* {
    position: relative;
}
html, body{
    background: #ffffff;
}



article {
    background: #f9f9f9;
    margin-bottom: 350px;
    z-index:1;
    box-shadow: -5px 0 10px 8px rgba(0, 0, 0, 0.7);
    padding: 2rem 5%;

}



footer {
  background: url(https://i.imgur.com/VfQdztO.jpg) no-repeat center bottom;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 350px;
  width: 100%;
  text-align: center;
  padding: 70px 5% 0;
}




